<div class="card mt-4">
    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
    <div class="card-body">
      <h3 class="card-title">{{ productdetails.productName}}</h3>
      <a href ="products/updateprodiuct/{{productdetails.id}}">update product</a>
      <a href ="products/updateprodiuct/{{productdetails.id}}">Delete product</a>
      <h4>${{ productdetails.price}}</h4>
      <p class="card-text">{{productdetails.description}}</p>
      <span class="text-warning">{{productdetails.rating}}</span>
      4.0 stars
    </div>
  </div>
  <!-- /.card -->




